<div class='nav flex-row'>
    <div class="nav flex-column nav-pills" id="tab">
        <a class="nav-link"
           id="profile-tab"
           href="{% url 'profile' request.user.id %}">Profile</a>
        <a class="nav-link {% if nbar == 'account' %}active{% endif %}"
           id="account-tab"
           href="{% if nbar == 'account' %}#{{ nbar }}{% else %}{% url 'account_details' %}{% endif %}">Account details</a>
        <a class="nav-link {% if nbar == 'password' %}active{% endif %}"
           id="password-tab"
           href="{% if nbar == 'password' %}#{{ nbar }}{% else %}{% url 'change_password' %}{% endif %}">Change password</a>
        <a class="nav-link disabled" id="settings-tab" href="#">Settings</a>
    </div>
    <div class="tab-content col-5" id="tabContent">
        <div class="tab-pane fade show active" id="{{ nbar }}">
            <form method="post"
                  enctype="multipart/form-data"
                  action="{{ request.path }}">
                {% csrf_token %}
                {% include 'partials/bootstrap_form.html' %}
                <button type="submit" class="btn btn-dark">Save Changes</button>
            </form>
        </div>
    </div>
</div>
