<div class="card " >
    <div class="card-body collapse show" id="home-collapse">
        <div class="h7" ><strong>{{event.title}}: </strong>
            {{event.description}}
        </div>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <div class="h6 text-muted">Location:</div>
            <div class="h7 fw-semibold">{{ event.location }}</div>
            {% if event.address|length > 0 %}
                <div class="h6 text-muted">Meeting at:</div>
                <div class="h7 fw-semibold">{{ event.address }}</div>
            {% endif %}
            {% if event.eventLink|length > 0 %}
                <div class="h6 text-muted">Online meeting link:</div>
                <div class="h7 fw-semibold">{{ event.eventLink}}</div>
            
        {% endif %}
        </li>
       
        <div class="  border-bottom "></div>
        <li class="list-group-item">
            <div class="h6 text-muted">Date: </div>
            <div class="h7 fw-semibold">{{ event.date }}</div>
            <div class="h6 text-muted">Time: </div>
            <div class="h7 fw-semibold">Between {{ event.startTime }} and {{event.endTime}}.</div>
        </li>
        {% if current_user != club.owner %}
        <li class="list-group-item">
            <div class=" mt-3 border-bottom mb-3"></div>
            
            <a href="{% url 'attend_events' event.id %}" class="d-flex mb-3 btn btn-secondary" >
                <svg class=" me-2" width="30" height="24"><use xlink:href="#bootstrap"/></svg>
                <span class="fs-5 fw-semibold">Attend</span>
                {% comment %} <span class="pending">{{club.pending_members.count}} </span>  {% endcomment %}
            </a>
        </li>
        {% endif %}
        <div class="  border-bottom "></div>
        <li class="list-group-item">
            <div class="h6 text-muted">Attending </div>
            <div class="h5">{{ event.attendees.count }}</div>
            
        </li>
        
        
    </ul>
</div>
<!--Add border between events-->
<div class=" mt-3 border-bottom mb-3"></div>