<div class="card " >
    <div class="card-body collapse show" id="home-collapse">
        <div class="h7" ><strong>{{event.title}}: </strong>
            {{event.description}}
        </div>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <div class="h6 text-muted mb-0">Location:</div>
            <div class="h7 fw-semibold mb-2">{{ event.location }}</div>
            {% if event.address|length > 0 %}
                <div class="h6 text-muted mb-0">Meeting at:</div>
                <div class="h7 fw-semibold mb-2">{{ event.address }}</div>
            {% endif %}
            {% if event.eventLink|length > 0 %}
                <div class="h6 text-muted mb-0">Online meeting link:</div>
                <div class="h7 fw-semibold mb-2">{{ event.eventLink}}</div>
            
            {% endif %}
        </li>
       
        <div class="  border-bottom "></div>
        <li class="list-group-item">
            <div class="h6 text-muted mb-0">Date: </div>
            <div class="h7 fw-semibold mb-2">{{ event.date }}</div>
            <div class="h6 text-muted mb-0">Time: </div>
            <div class="h7 fw-semibold mb-2">Between {{ event.startTime }} and {{event.endTime}}.</div>
        </li>
        {% if current_user != club.owner %}
            <li class="list-group-item">
                <div class=" mt-3 border-bottom mb-3"></div>
        
                <a href="{% url 'attend_events' event.id %}" class="d-flex mb-3 btn btn-secondary d-flex justify-content-center" >
                    {% if current_user in event.attendees.all %}
                    <span class="fs-5 fw-semibold text-white ">Cancel</span>
                    {% else %}
                    <span class="fs-5 fw-semibold text-white ">Attend</span>
                    {% endif %}
                    
                </a>
            </li>
        {% endif %}
        <div class="  border-bottom "></div>
        <li class="list-group-item">
            <div class="h6 text-muted">Attending </div>
            <div class="h5">{{ event.attendees.count }}</div>
            
        </li>
        
        
    </ul>
</div>
<!--Add border between events-->
<div class=" mt-3 border-bottom mb-3"></div>