{% load static %}
        <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Sign into your account</h5>
        <form action="{% url 'log_in' %}" method="post">
          <div class="d-flex align-items-center mb-3 pb-1">
            <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
            <span class="h1 fw-bold mb-0">The Kite Club.</span>
          </div>
            {% csrf_token %}
            {% include 'partials/bootstrap_form.html' with form=form%}
        <div class="pt-1 mb-4">
            <input class="btn btn-dark btn-lg btn-block" type="submit" value="Log in">
        </div>
        <p class="mb-5 pb-lg-2" style="color: #393f81;">Don't have an account? <a href='{% url 'sign_up' %}'
            style="color: #393f81;">Register here</a></p>
        <a href='#!' class="small text-muted">Terms (under construction - no link attatched)</a> 