/*
 * Alerts
 */

 .alert {
  border-radius: 0px;
}

.bkg{
  background-image: url('/static/images/Bg_white_modern.jpg');
  /* Full height */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  margin:0;
}

/* .bkg{
  background-image: url('/static/images/Bg_white_modern.jpg');
  Full height
  height: 100%; 
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  position: absolute; width: 100%;
  margin:0;
} */
.blur {
  background: rgba(255, 255, 255, 0.2); 
  backdrop-filter: blur(8px); 
  height: 100vh;
	width: 100%;
}




