/*
 * Alerts
 */

 .alert {
  border-radius: 0px;
}

.bkg{
  background-image: url('/static/images/Bg_white_modern.jpg');

  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  position: absolute; width: 100%;
  margin:0;
  
}
