@font-face {
    font-family: "MonaqiBold";
    src: url("../fonts/MonaqiBold-L3Bzn.ttf") format("truetype");
}

@font-face {
    font-family: "Nexus";
    src: url("../fonts/Nexus-ZV54m.ttf") format("truetype");
}

@font-face {
    font-family: "Zilap";
    src: url("../fonts/ZilapMinimalistDemo-nR1vg.ttf") format("truetype");
}

/* style {
    font-family: "MonaqiBold-L3Bzn", sans-serif;
    margin: 0px;
    background-color: white;
} */
