{% extends 'base.html' %}
{% block title %}
    About
{% endblock %}
{% block body_credits %}
    {% include 'partials/navbar_minimal.html' %}
    {% block body %}
        <br>
        <div class="jumbotron">
            <h1 class="display-4">About us</h1>
            <p class="lead">Welcome to our website!</p>
            <hr class="my-4">
            <p>
                At The Kite Club, our mission is to bring together book lovers from all over the world and create a community where everyone can share their love of reading, discover new books, and make new friends.
                At our book club, we believe that reading is not just a solitary activity but an opportunity to connect with others who share your interests.
            </p>
            <p>
                That's why we offer a platform where you can join or create book clubs centered around themes that interest you. Whether you're into classic literature, contemporary fiction, or non-fiction, you can find a club that suits your taste.
                Each club has a monthly book that members read and discuss together. We encourage everyone to participate in the conversation, share their thoughts, ask questions, and engage in lively discussions.
            </p>
            <p>
                This is a space where you can share your ideas and learn from others. We believe that everyone's perspective is valuable, and we respect diverse opinions.
                Our website is designed to make it easy for you to connect with others and join the conversation. You can create a profile, join a club, and start making friends in no time. You can also make posts about the monthly book or any other book-related topic, and other members can comment and engage with your posts.
            </p>
            <p>
                We're excited to welcome you to our website and look forward to seeing you in our clubs. If you have any questions or suggestions, please don't hesitate to contact us. Happy reading!
            </p>
            <br>
            <p class="lead">
                <a class="btn btn-primary btn-lg"
                   href="{% url 'sign_up' %}"
                   role="button">Sign up</a>
            </p>
        </div>
    {% endblock %}
    {% include 'partials/footer.html' %}
{% endblock %}
