{% extends 'base.html'%}
{% block body_credits%}

    <div class="row mx-0" >
        <div id="sidebar" class="column col-sm-2 col-xs-1 my-0 mx-0 pt-0 shadow-lg p-3  bg-dark sidebar-offcanvas" style="height: 100vh">
            <a href="/" class="d-flex align-items-lg-start mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
                <span class="fs-4">Admins</span>
            </a>
            <hr>
            <ul class="nav nav-pills flex-column mb-0">
                {% for admin in club.admins.all %}
                        <li class="nav-item">
                            <a class="nav-link text-white" href="{% url 'show_user' admin.id %}" aria-current="page">
                                <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"></use> </svg>
                                {{admin.username}}
                            </a>
                        </li>
                        {% endfor %}
            </ul>
            <hr>
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
                <span class="fs-4">Club Members</span>
            </a>
            <hr>
            <ul class="nav nav-pills flex-column mb-0">
                {% for member in club.members.all %}
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'show_user' member.id %}" aria-current="page">
                            <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"></use> </svg>
                            {{member.username }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
            <hr>

        </div>


        <div id="main" class="column col-sm-10 col-xs-11 px-0 ">
            {%include 'partials/navbar.html'%} 
            <div class="row px-2">
                <h1>{{ club.name }}</h1>
                <p>{{ club.theme }}
                <div class="container mx-0 my-5">
                    <div>
                        <h3>New post</h3>
                        <form action="{% url 'show_club' club.id %}" method="post">
                                {% csrf_token %}
                                {% include 'partials/bootstrap_form.html' with form=form %}
                                <button type="submit" class="btn btn-primary">Cluck</button>
                        </form>
                    </div>
                    <div>       
                            {% include 'partials/posts_as_table.html' with posts=posts %}
                    </div>
                </div>
            </div>
        </div>

        
    </div>  
{% endblock %}