{% extends 'base_content.html' %}
{% block body_credits %}
{% include 'partials/navbar_minimal.html' %}
<div class="blur">

  <div class="container pb-5 pt-3">
    <div class="row">
      <div class="col-12">
    <h1>Club Creation Form</h1>

    <form action="{% url 'create_club' %}" method="post">
      {% csrf_token %}
      {% include 'partials/bootstrap_form.html' %}
      <input class="btn btn-dark btn-lg btn-block" type="submit" value = "Create Club">
    </form>
</div>
</div>
</div>
</div>
{% include 'partials/footer.html' %}
{% endblock %}
