<html>
<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card cover-card centered-card">
        <h1 class="cover-heading">Feed</h1>
        <!-- Button to logged-in user's profile -->
        <p style="margin: 0px;">
          <a href="{% url 'profile' %}" class="btn btn-lg btn-secondary">Profile</a>
        </p></br>
        <!-- Button to log out -->
        <p style="margin: 0px;">
          <a href="{% url 'log_out' %}" class="btn btn-lg btn-secondary">Log out</a>
        </p>
      </div>
    </div>
  </div>
</div>

</html>
