{% extends 'base.html'%}
{% block body_credits%}
{%include 'partials/navbar.html' with pending=pending%} 
<html>
        
<div class="container">
  {% for msg in messages %}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <div id="form_success">
      <strong>Success:</strong> {{ msg }}
    </div>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {% endfor %}
  <div class="container text-white stroke mt-4 p-4 shadow ">
    <h1 class="cover-heading text-center">
      Some reads for {{current_user.full_name}}:
    </h1>
    
  </div>
  {%include 'partials/book_top_picks.html' with random_books=random_books %} 
  
  <div class="row">
    <div class="col-12">
      <div class="card cover-card centered-card p-4 shadow">
        <h1 class="cover-heading text-center">Feed</h1>
        {% for club in clubs %}
    <div> 
      <h1 class="cover-heading text-white stroke">In {{club.name}}:</h1>
      
      {% include 'partials/posts_as_table.html' with posts=club.club_posts.all form=form%} 
    </div>

{% endfor %}

      </div>
    </div>
  </div>
</div>


{%endblock%}


</html>
