
{% extends 'base_content.html'%}
{% load static %}
{% block body%}
    

        <div id="cover-image">
            <div class="container vh-300 offset-1">
                <div class="row h-100">
                    <div class="col-12 mr-auto ">
                        <h1 class="cover-heading mr-auto"> The Kite Club.</h1>
                        <div class="offset-15px">
                            <p class="cover-text mr-auto ">Indulge yourself into the topics and books you love. Fly your kite between the <em>clouds</em>, where our diverse community of readers share their knowledge and opinions about man's best friend (hint: we are not talking about pets). Discover new reads that match your interests, get access to exclusive events and even create your own cloud that members can join, tailored to your exact taste.</p>
                            <p> </p>
                            <p class="cover-text mr-auto lead ">Start exploring our <u style="font-family: MonaqiBold-L3Bzn;">Reading clouds</u></p> 
                        </div>
                        <div class="text-left">
                            <p><a href='{% url 'sign_up' %}' class="btn btn-outline-dark btn-round">
                                Sign up now
                                </a>
                            </p>
                        </div>
                    </div>

                </div>

                <div class="row h-100">
                    <div class="col-12 mx-auto">
                        <div class="card cover-card mx-auto ">

                            <p class="cover-text mx-auto lead">Already a member?</p>
                                <div class="text-center">

                                <p><a href='{% url 'log_in' %}' class="btn w-50 mt-3 btn-secondary btn-round">Log in</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{%endblock%} 
