{% extends 'base.html' %}
{% block body_credits %}
    {% include 'partials/navbar.html' %}
    <div style="margin-top: 10px;">
        <div class="container" style="background-color: #f2f2f2; padding: 20px;">
            <div class="row align-items-center">
                <div class="col-12 col-md-4">
                    <h5>Username</h5>
                </div>
                <div class="col-12 col-md-4">
                    <h5>Actions</h5>
                </div>
            </div>
        </div>
    </div>
    {% for user in pending %}
        <div>
            <div class="container" style="background-color: #f2f2f2; padding: 20px;">
                <div class="row align-items-center">
                    <div class="col-12 col-md-4">
                        <a href="{% url 'profile' user.id %}">{{ user.get_username }}</a>
                    </div>
                    <div class="col-12 col-md-4">
                        <a href="{% url 'admin_accept_request' club.id user.id %}"
                           class="btn btn-primary">Accept</a>
                        <a href="{% url 'admin_decline_request' club.id user.id %}"
                           class="btn btn-primary">Decline</a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    {% include 'partials/footer.html' %}
{% endblock body_credits %}
