<html>

<head>
  <title>Profile Page</title>
</head>
<h1>Profile Page</h1>
<div class="form-content">
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-row">
      <div class="col-md-5">
        <div class="form-group">
          <label class="small mb-1">First name:</label>
          {{ form.first_name }}
          </br></br>
          <label class="small mb-1">Last name:</label>
          {{ form.last_name }}
          </br></br>
          <label class="small mb-1">Username:</label>
          {{ form.username }}
          </br></br>
          <label class="small mb-1">Email:</label>
          {{ form.email }}
          </br></br>
        </div>
        <div class="form-group">
          <a href="{% url 'change_password' %}">Change Password</a>
          </br></br>
        </div>
        <label class="small mb-1">Bio:</label> {{ form.bio }}
      </div>
    </div>
    <br><br>
    <button type="submit" class="btn btn-dark btn-lg">Save Changes</button>
    <button type="reset" class="btn btn-dark btn-lg">Reset</button>
  </form>
</div>

</html>
