{% extends 'base_content.html' %}
{% load static %}
{% block title %}
    {{ user.get_short_name }}'s Profile
{% endblock title %}
{% block content %}
    <div class="container py-3">
        <div class="row">
            <div class="col-lg-4">
                <div class="card mb-4">
                    <div class="card-body text-center">
                        <img src="{{ user.gravatar }}"
                             alt="gravatar"
                             class="rounded-circle img-fluid"
                             style="width: 150px">
                        <h5 class="my-3">{{ user.get_username }}</h5>
                        {% if request.user.get_username == user.get_username %}
                            <div class="d-flex justify-content-center mb-2">
                                <a href="{% url 'account_details' %}"
                                   type="button"
                                   class="btn btn-primary">Edit Profile</a>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="card mb-4 mb-lg-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Full Name</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ user.get_full_name }}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Email</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ user.email }}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Favourite Genre</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">
                                    {% if user.favourite_genre == '' %}
                                        --
                                    {% else %}
                                        {{ user.get_favourite_genre_display }}
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-4 mb-lg-0">
                    <div class="mb-4">
                        <div class="p-4">
                            <div class="card-body p-0">
                                <h4 class="font-italic mb-2">About</h4>
                                <p class="font-italic mb-0">{{ user.bio }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                {% if posts %}
                    {% for post in posts %}
                        <div class="card mb-4 mb-lg-0">
                            <div class="mb-4">
                                <div class="p-4">
                                    <div class="card-body p-0">
                                        <p>{{ post.text }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">Created at: {{ post.created_at }}, Club: {{ post.in_club }}</div>
                            <br>
                        {% endfor %}
                    {% else %}
                        <div class="card mb-4 mb-lg-0">
                            <div class="mb-4">
                                <div class="p-4">
                                    <div class="card-body p-0">
                                        <p>No posts yet...</p>
                                    </div>
                                </div>
                            </div>
                            <br>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
