{% extends 'base_content.html' %}
{% block body_credits %}
    {% include 'partials/navbar_minimal.html' %}
    <div style="margin:30px; margin-bottom: 50px;">
        <div class="container" style="background-color: #f2f2f2; padding: 20px;">
            <center>
                <h3>Sign up and start flying your kite!</h3>
            </center>
            <form action="{% url 'sign_up' %}" method="post">
                {% csrf_token %}
                {% include 'partials/bootstrap_form.html' %}
                <input class="btn btn-dark btn-lg btn-block" type="submit" value = "Sign up">
            </form>
        </div>
    </div>
    <br/>
    <br/>
    <br/>
    {% include 'partials/footer.html' %}
{% endblock %}
